In [2]:
import scipy.stats
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv("./data/juego-azar.csv", sep=";")
df.columns

Index(['bola', 'color', 'numero'], dtype='object')

In [11]:
df

   bola   color  numero
0     1  blanco       1
1     2   negro       1
2     3   negro       1
3     4   negro       1
4     5  blanco       2
5     6   negro       2
6     7   negro       2
7     8  blanco       3
8     9  blanco       3
9    10   negro       3

In [5]:
df["numero"].value_counts()/len(df)

1    0.4
3    0.3
2    0.3
Name: numero, dtype: float64

In [6]:
df["color"].value_counts()/len(df)

negro     0.6
blanco    0.4
Name: color, dtype: float64

In [13]:
df.groupby(["color","numero"]).size()

color   numero
blanco  1         1
        2         1
        3         2
negro   1         3
        2         2
        3         1
dtype: int64

In [14]:
# P(A|B) = P(Blanco|2) = 1/3
round(1/3,2)

0.33

In [16]:
# P(A)

# P(A|B)

#P(B)

#p_blanca = 4/10

#p(blanco) = p(blanca|1)*p(1) + p(p_blanca|2)*p(2) + p(p_blanca[3]|3)
(1/4)*(4/10) + (1/3)*(3/10) + 2/3*(3/10)

0.4

In [17]:
def calcular_formas_vuelto(cantidad, tipos_moneda):
    if cantidad == 0:
        return 1
    elif cantidad < 0 or len(tipos_moneda) == 0:
        return 0
    else:
        return calcular_formas_vuelto(cantidad,tipos_moneda[0:-1]) + \
                calcular_formas_vuelto(cantidad-tipos_moneda[-1], tipos_moneda)

tipos = [1, 5, 10, 50]
calcular_formas_vuelto(100, tipos)

158

In [19]:
2*6*24

288