# Merge

In [1]:
import numpy as np
import pandas as pd

In [17]:
dfl = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],},
    index = [0,1,2,3])

dfr = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])

In [18]:
dfl

    X   W   Y
0  x0  w0  y0
1  x1  w1  y1
2  x2  w2  y2
3  x3  w3  y3

In [19]:
dfr

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [20]:
pd.merge(dfl, dfr)

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [21]:
pd.merge(dfl, dfr, how="inner", on="Y")

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [22]:
pd.merge(dfl, dfr, how="inner", left_on="Mix", right_on="Y")

KeyError: 'Mix'

In [23]:
pd.merge(dfl, dfr, how="inner", left_on="Mix", right_on="A")

KeyError: 'Mix'

In [24]:
pd.merge(dfl, dfr, how="outer")

     X    W   Y    Z    A
0   x0   w0  y0  NaN  NaN
1   x1   w1  y1  NaN  NaN
2   x2   w2  y2   z2   a2
3   x3   w3  y3   z3   a3
4  NaN  NaN  y4   z4   a4
5  NaN  NaN  y5   z5   a5

In [25]:
pd.merge(dfl, dfr, how="left",on="Y")

    X   W   Y    Z    A
0  x0  w0  y0  NaN  NaN
1  x1  w1  y1  NaN  NaN
2  x2  w2  y2   z2   a2
3  x3  w3  y3   z3   a3

In [26]:
pd.merge(dfl, dfr, how="right",on="Y")

     X    W   Y   Z   A
0   x2   w2  y2  z2  a2
1   x3   w3  y3  z3  a3
2  NaN  NaN  y4  z4  a4
3  NaN  NaN  y5  z5  a5

In [ ]:
dfl = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
     'A':['a0','a1','a2','a3'],},
    index = [0,1,2,3])
dl